@keyframes strobe {
    0% {transform: scale(1,1);}
    25% {transform: scale(1.1,1.1);}
    50% {transform: scale(1,1);}
    75% {transform: scale(1.1,1.1);}
    100% {transform: scale(1,1);}
}

@keyframes wiggle {
    0% {transform: rotate(0deg) scale(1,1);}
    25% {transform: rotate(0deg) scale(1,1);}
    50% {transform: rotate(0deg) scale(1,1);}
    65% {transform: rotate(30deg) scale(1.1,1.1);}
    85% {transform: rotate(0deg) scale(1.1,1.1);}
    100% {transform: rotate(0deg) scale(1,1);}
}

@keyframes title_anim {
    0% {color: var(--heat-wave);}
    25% {color: var(--dark-orange);}
    50% {color: var(--yellow-orange);}
    75% {color: var(--orange-peel);}
    100% {color: var(--heat-wave);}
}

.sideNav {
    width: 15vw;
    height: 100vh;
    float: left;
    /* background-color: var(--persian-indigo); */
    background-color: var(--white);
    box-shadow: 4px 0px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    display: none;
}

.sideNavLogo {
    width: 50%;
    aspect-ratio: 1;
    margin: 30px 25% 20px 25%;
    padding: 0px;
    animation: strobe 5s infinite;
    pointer-events: none;
}

.sideNavTitle {
    color: var(--blue);
    font-family: Title;
    font-size: 35px;
    padding: 0px;
    text-align: center;
    /* animation: title_anim 5s infinite; */
    margin: 30px 0px 0px 0px;
}

.sideNavStatus {
    color: var(--dark-orange);
    font-weight: 400;
    padding: 0px;
    text-align: center;
    margin: 3px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 13px;
}

.sideNavButtonGallery {
    width: 90%;
    height: fit-content;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s;
    margin: 0px 5% 0px 5%;
    overflow: hidden;
    padding-bottom: 20px;
}

.sideNavButtonGallery hr {
    border-bottom: 2px solid var(--blue);
    margin: 0px 25% 0px 25%;
    background-color: var(--orange-peel);
}

.sideNavButton {
    width: 30%;
    aspect-ratio: 1;
    margin: 50px 35% 0px 35%;
    cursor: pointer;
    transition: all 0.5s;
}

.sideNavButton:hover {
    transform: scale(1.2,1.2);
}

.sideNavButtonText {
    text-align: center;
    color: var(--dark-orange);
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 400;
}

.sideNavMenuOption {
    font-weight: 400;
    color: var(--heat-wave);
    text-align: center;
    margin: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.sideNavMenuOption:hover {
    transform: scale(1.2,1.2);
}

@media screen and (min-width: 1125px) {
    .sideNav {
        display: block;
    }
}